* {
    font-variant: Arial;
}

h1 {
    margin: 20px 0px;
    border: 1px solid red;
    padding: 5px;
}

.container {
    margin-left: 20%;
    margin-right: 20%;
}

#menu {
    width: 20%;
    float: left;
}

#content {
    width: 80%;
    float: right;
}

.sub-title {
    border-bottom: 1px solid black;
    font-size: 16px;
    margin: 0px;
}

body div#menu ul li.active {
    color: blue;
}
