{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Exercícios</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script type="text/javascript" src="{% static 'aulas/js/aula-02/exercises.js' %}"></script>
    </head>
    <body>
        <div class="container">
            <row>
                <div class='panel panel-primary'>
                    <div class='panel-heading'>
                        Desenvolva um programa que mostra na console (print) os número de 1 até 100. Mas se o número for múltiplo de 3, mostre a mensagem "Fizz" ao invés do número. Se o número for múltiplo de 5, mostre a mensagem "Buzz" ao invés do número. Se for múltiplo de 3 e 5 ao mesmo tempo, mostre a mensagem "FizzBuzz".
                    </div>
                    <div class='panel-body'>
                        <code id="result_fizz_buzz"></code>
                    </div>
                </div>
                <div class='panel panel-primary'>
                    <div class='panel-heading'>
                        <p>Desenvolva um programa em Javascript que imprima na console a tabuada completa, do 1 até o 10. Mostrando para cada número uma saída semelhante a essa:</p>
                        <p></p><span>1 * 1 = 1</span></p>
                        <p></p><span>1 * 2 = 2</span></p>
                        <p></p><span>1 * 3 = 3</span></p>
                        <p></p><span>1 * 4 = 4</span></p>
                        <p></p><span>1 * 5 = 5</span></p>
                        <p></p><span>1 * 6 = 6</span></p>
                        <p></p><span>1 * 7 = 7</span></p>
                        <p></p><span>1 * 8 = 8</span></p>
                        <p></p><span>1 * 9 = 9</span></p>
                        <p></p><span>1 * 10 = 10</span></p>
                    </div>
                    <div class='panel-body'>
                        <div id="multiplication_tables"></div>
                    </div>
                </div>
                <div class='panel panel-primary'>
                    <div class='panel-heading'>
                        <p>Desenvolva uma programa que seja capaz de calcular o fatorial de um número. O número pode ser informado de forma fixa dentro do programa através de uma variável, não é necessário ler o número da console. O fatorial de um número é calculado como esse exemplo:</p>
                        <p>5! = 5 * 4 * 3 * 2 * 1 = 120</p>
                    </div>
                    <div class='panel-body'>
                        <div id="factorial"></div>
                    </div>
                </div>
                <div class='panel panel-primary'>
                    <div class='panel-heading'>
                        <p>Desenvolva um programa que seja capaz de calcular e mostrar na tela os número da série de Fibonacci, até o 100º elemento. A série de Fibonacci é calculada começando-se com os números 1 e 1,  e o próximo número da série é calculado somando-se os dois números anteriores, conforme esse exemplo:</p>
                        <p>1, 1, 2, 3, 5, 8, 13, 21</p>
                        <p>Explicando o exemplo anterior:</p>
                        <p>1, 1, 2 (1+1), 3 (1+2), 5(2+3), 8(3+5), 13(5+8), 21(8+13).</p>
                        <p>5! = 5 * 4 * 3 * 2 * 1 = 120</p>
                    </div>
                    <div class='panel-body'>
                        <div id="factorial"></div>
                    </div>
                </div>
            </row>
        </div>
    </body>
</html>