{% extends "index.html" %}
{% load staticfiles %}

{% block title %}Cookies{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'aulas/js/aula-04/cookies.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="col-md-12">
        <h1>Bloco de anotações</h1>
        <label>Anotações</label>
        <textarea class="form-control" rows="10" id="id-notes"></textarea>
        <p id="success-save" class="hidden">Anotação salvo com sucesso!</p>
    </div>
{% endblock %}
